<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>CARS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>

<header>

   <div class="box1">
      <h2><span class="car">Car Showroom</span></h2>

   </div>

    <div class="navbar">
        <a href="{% url 'home' %}">HOME</a>
         <a href="{% url 'upcoming' %}">UPCOMING CARS</a>
  <div class="dropdown">
    <button class="dropbtn">BRANDS
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">

          <a href="{% url 'brand' 'MARUTI_SUZUKI' %}">MARUTI SUZUKI</a>
      <a href="{% url 'brand' 'FORD' %}">FORD</a>
      <a href="{% url 'brand' 'LAND ROVER' %}">LAND ROVER</a>
      <a href="{% url 'brand' 'TOYOTA' %}">TOYOTA</a>
    </div>
  </div>
    <div class="dropdown">
    <ul class="dropbtn">BY PRICE
    </ul>
    <div class="dropdown-content">
      <a href="#">150000-300000</a>
      <a href="#">300000-800000</a>
      <a href="#">800000-1200000</a>
        <a href="#">1200000-1500000</a>
    </div>
    </div>

    <div class="dropdown">
    <ul class="dropbtn">BY YEARS
    </ul>
    <div class="dropdown-content">
      <a href="#"><input type="month" id="start" name="start" placeholder="month year"></a>


    </div>

    </div>
        <div class="search-bar">
         <input class="search-box"><svg onclick="location.href='/'" width="40" height="40" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="-8 -32 50 50" ><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
        </div>
</div>
</header>
</body>
</html>