{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ss.css' %}"/>
</head>

<body style="background:#348378;">
  <form action="{% url 'dologin' %}" method="POST">
      {% csrf_token %}

      hi how are yu?
      <div class="trans-box" style=" margin-top: 20ch; margin-left: 45ch; margin-right: 50ch; background-color:#fb4242;">

     <h1 style="margin-left:2.5ch; color:#444444;">Login</h1>
     <div class="front_block" name="front_block" style=" margin-top: 1ch; margin-left: 5ch; margin-right: 5ch; margin-bottom: 5ch; padding: 12px 0; background-color:#676766;">

       <div><label type="text" class="label_field_1" name="name1" style="margin-left:1ch;">Your Name</label><input type="text" class="input_field_1" name="name" style="margin-left:1ch;" required></div>
        <div style="padding:10px 0;"> <label type="text" class="label_field_1" name="name1" style="margin-left:1ch;">Your Name</label><input type="text" class="input_field_1" name="name" style="margin-left:1ch;" required></div>
         <div style="padding:10px 0;"><label type="text" class="label_field_1" name="name1" style="margin-left:1ch;">Capcha</label><label class="capcha-class" style="background-color:#efc3c3;margin-left:4ch;">454546</label></div>
         <div> <input type="text" class="input_field_1" name="name" style="background-color:#efc3c3;margin-left:12ch;" required></div>
         <div style="padding:10px 0;"><button type="submit" class="label_field_1" name="name1" style="margin-left:20ch;">login</button></div>
  </div></div></form>
</body>
</html>